<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="script.js"></script>
</head>
<body>

    <div class="container" id="background"> 
        <div class="container">
            <h1 style="font-size: 36px;">Crie sua conta</h1>
            <h2 style="font-size: 20px;">Já possui uma conta? <a style="color: #00bab4;" href="">Entrar</a></h2>
        </div>

        <img src="house-plants.png" style="width: 50px; margin-top: 20px; margin-bottom: -2px;">
        <hr style="width:700px;">

        <form action="cadastrar" id="cadastro" method="POST">
            <label for="nome">Nome</label>
            <input type="text" name="nome">
            <label for="email">Email</label>
            <input type="text" name="email">
            <label for="senha">Senha</label>
            <input type="password" name="senha">
            <label for="data_nascimento">Data de nascimento</label>
            <input type="date" name="nascimento">
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</body>
</html>