<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="container" id="background"> 
        <div class="container">
            <h1 style="font-size: 36px;">Entrar</h1>
            <h2 style="font-size: 20px;">Realize o login para continuar</h2>
        </div>

        <img src="house-plants.png" style="width: 50px; margin-top: 20px; margin-bottom: -2px;">
        <hr style="width:700px;">

        <form action="/login" id="cadastro" method="POST">
            <label for="email">Email:</label>
            <input type="text" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" name="senha" required>

            <button type="submit">Entrar</button>
        </form>
    </div>

</body>
</html>