<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>

</head>
<body>
    {{!-- HEADER --}}
    <div class="container" id="background"> 
        <div class="container">
            <h1 style="font-size: 36px;">Seja bem vindo Murilo!</h1>
            <h2 style="font-size: 20px;">Gestor de água e energia</h2>
        </div>

        {{!-- GRÁFICOS --}}
        <div id="graficos">
            {{!-- ENERGIA --}}
            <div>
                <div class="moldura-grafico">
                    <h3>Histórico de consumo de energia</h3>
                    <svg class="svg-grafico-energia" width="95%" height="100%"></svg>
                    <form action="selecionar-grafico-energia">
                        <p>Comparar com:</p>
                        
                        <input class="radio" type="radio" id="ninguem-energia" name="seletor-grafico-energia" value="ninguem" checked>
                        <label class="botao-comparar" for="ninguem-energia"></label>
                        <p>Ninguém</p>
    
                        <input class="radio" type="radio" id="media-usuarios-energia" name="seletor-grafico-energia" value="media-usuarios">
                        <label class="botao-comparar" for="media-usuarios-energia"></label>
                        <p>Média dos usuários</p>
    
                        <input class="radio" type="radio" id="metas-sustentaveis-energia" name="seletor-grafico-energia" value="metas-sustentaveis">
                        <label class="botao-comparar" for="metas-sustentaveis-energia"></label>
                        <p>Metas sustentáveis</p>
                    </form>
                </div>
                <div class="container-adicionar-conta">
                    <p>Adicionar conta de energia</p>
                    <button onclick="abrirModalEnergia()" class="adicionar-conta"></button>
                </div>
            </div>
            {{!-- ÁGUA --}}
            <div>
                <div class="moldura-grafico">
                    <h3>Histórico de consumo de água</h3>
                    <svg class="svg-grafico-agua" width="750px" height="350px"></svg>
                    <form action="selecionar-grafico-agua">
                        <p>Comparar com:</p>
                        
                        <input class="radio" type="radio" id="ninguem-agua" name="seletor-grafico-agua" value="ninguem" checked>
                        <label class="botao-comparar" for="ninguem-agua"></label>
                        <p>Ninguém</p>
    
                        <input class="radio" type="radio" id="media-usuarios-agua" name="seletor-grafico-agua" value="media-usuarios">
                        <label class="botao-comparar" for="media-usuarios-agua"></label>
                        <p>Média dos usuários</p>
    
                        <input class="radio" type="radio" id="metas-sustentaveis-agua" name="seletor-grafico-agua" value="metas-sustentaveis">
                        <label class="botao-comparar" for="metas-sustentaveis-agua"></label>
                        <p>Metas sustentáveis</p>
                    </form>
                </div>
                <div class="container-adicionar-conta">
                    <p>Adicionar conta de água</p>
                    <button onclick="abrirModalAgua()" class="adicionar-conta"></button>
                </div>
            </div>
        </div>

        {{!-- DICAS --}}
        <div id="dicas">
            <h3>Dicas para economizar</h3>
            <div>
                <p>---------</p>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div id="meuModalAgua" class="modal">
        <div class="modal-conteudo">
            <h2>Adicionar conta de água</h2>
            <form id="form-agua" class="form-nova-conta" action="">
                <div>
                    <label for="data">Data: </label>
                    <input type="month" name="data" class="seletor-mes">
                </div>
                <div>
                    <label for="consumo">Consumo: </label>
                    <input type="text" name="consumo">
                </div>
                <div>
                    <button style="background-color: #2d2e47;" type="button" class="voltar-button" onclick="fecharModalAgua()">Voltar</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="meuModalEnergia" class="modal">
        <div class="modal-conteudo">
            <h2>Adicionar conta de energia</h2>
            <form id="form-energia" class="form-nova-conta" action="">
                <div>
                    <label for="data">Data: </label>
                    <input type="month" name="data" class="seletor-mes">
                </div>
                <div>
                    <label for="consumo">Consumo: </label>
                    <input type="text" name="consumo">
                </div>
                <div>
                    <button style="background-color: #2d2e47;" type="button" class="voltar-button" onclick="fecharModalEnergia()">Voltar</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function abrirModalAgua() {
            document.getElementById("meuModalAgua").style.display = "block";
        }

        function abrirModalEnergia() {
            document.getElementById("meuModalEnergia").style.display = "block";
        }

        function fecharModalAgua() {
            document.getElementById("meuModalAgua").style.display = "none";
        }

        function fecharModalEnergia() {
            document.getElementById("meuModalEnergia").style.display = "none";
        }

        const formAgua = document.getElementById('form-agua');
        formAgua.addEventListener('submit', async (e) => {
            e.preventDefault();
            const dados = {
                data: formAgua.data.value,
                consumo: formAgua.consumo.value
            };

            await fetch('/salvar-conta-agua', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            });
            alert('Dados enviados!');
        });

        const formEnergia = document.getElementById('form-energia');
        formEnergia.addEventListener('submit', async (e) => {
            e.preventDefault();
            const dados = {
                data: formEnergia.data.value,
                consumo: formEnergia.consumo.value
            };

            await fetch('/salvar-conta-energia', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dados)
            });
            alert('Dados enviados!');
        });
    </script>
</body>

</html>