<!DOCTYPE html>
<html>
    <head>
        <title>{{titulo}}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        {{{body}}}

        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="/js/script.js"></script>
    </body>

    
</html>